.deps/
.dirstamp
.libs/
*.o
*.lo
*.la
config.h
config.log
libtool
config.status
Makefile
utils/sc_ally/sc_ally
utils/sc_analysis_dump/sc_analysis_dump
utils/sc_attach/sc_attach
utils/sc_ipiddump/sc_ipiddump
utils/sc_speedtrap/sc_speedtrap
utils/sc_tracediff/sc_tracediff
utils/sc_warts2json/sc_warts2json
utils/sc_warts2pcap/sc_warts2pcap
utils/sc_warts2text/sc_warts2text
utils/sc_wartscat/sc_wartscat
utils/sc_wartsdump/sc_wartsdump
utils/sc_wartsfix/sc_wartsfix
scamper/scamper
autom4te.cache/
stamp-h1
*.warts
autoscan.log
configure.scan
